*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  text-decoration: none;
  list-style: none;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
}

body {
  height: 100%;
  background-color: var(--color-bacbkground__light);
  padding: var(--nav-height__mobile) 0;

  @media screen and (min-width: 768px) {
    padding: var(--nav-height__desktop) 0;
  }
}

html {
  height: 100%;
  scroll-behavior: smooth;
}
